{% extends 'base.html' %}
{% load static %}
{% block content %}



        <!-- breadcrumb-area start -->
        <div class="breadcrumb-area section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="breadcrumb-title">About Us</h2>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="{% url 'mainApp:home' %}">Home</a></li>
                            <li class="breadcrumb-item active">About</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area end -->


        <!-- main-content-wrap start -->
        <div class="main-content-wrap">
            <!-- About Us Area -->
            <div class="about-us-area section-ptb">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="about-us-contents">
                                <h3>Welcome To <span>Flower Shop</span></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, buthe majority have suffered alteration in some form, by injeed randomised words which don't look even sliglieable.All the Lorem Ipsum generators on the Internet tend to repe
                                    defined chunks as necessary, making this the first true generator on the Internet. It uses </p>
                               
                            </div>
                        </div>
                        <div class="col-lg-5 ">
                            <div class="about-us-image text-right">
                                <img src="assets/images/other/about-us.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// About Us Area -->


            <!-- Project Count Area Start -->
            <div class="project-count-area section-pb section-pt-60 project-count-bg">
                <div class="container">
                    <div class="project-count-inner_two">
                        <div class="row">
                            <div class="col-lg-12 ml-auto mr-auto">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3">
                                        <div class="single-fun-factor">
                                            <!-- counter start -->
                                            <div class="counter text-center">
                                                <h3><span class="counter-active">{{product.count}}</span>+</h3>
                                                <p>Flowers</p>
                                            </div>
                                            <!-- counter end -->
                                        </div>
                                    </div>
                                   
                                
                                    <div class="col-lg-3 col-sm-3">
                                        <div class="single-fun-factor">
                                            <!-- counter start -->
                                            <div class="counter text-center">
                                                <h3><span class="counter-active">{{customer.count}}</span>+</h3>
                                                <p>happy customer</p>
                                            </div>
                                            <!-- counter end -->
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        <div class="single-fun-factor">
                                            <!-- counter start -->
                                            <div class="counter text-center">
                                                <h3><span class="counter-active">2</span>+</h3>
                                                <p>Nursery</p>
                                            </div>
                                            <!-- counter end -->
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        <div class="single-fun-factor">
                                            <!-- counter start -->
                                            <div class="counter text-center">
                                                <h3><span class="counter-active">5</span>+</h3>
                                                <p>Physical shop</p>
                                            </div>
                                            <!-- counter end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Count Area End -->


            <!-- Our Team Area -->
            <div class="our-team-area section-ptb">
                <div class="container">
                    <div class="row">
                        {% for ap in team_list %}
                        <div class="col-lg-3">
                            <div class="single-team mt--30">
                                <div class="single-team-image">
                                    <img src="{{ap.image.url}}" alt="">
                                </div>
                                <div class="single-team-info">
                                    <h5>{{ap.name}}</h5>
                                    <p>{{ap.position}}</p>
                                </div>
                                <ul class="personsl-socail">
                                    <li><a href="{{ap.social_media}}"><i class="ion-social-facebook"></i></a></li>
                                 
                                </ul>
                            </div>
                        </div>
                        {% endfor %}

                   
               

                    </div>
                </div>
            </div>
            <!--// Our Team Area -->



            <!-- testimonial-area start -->
            <div class="testimonial-area testimonial-bg bg-gray overly-image section-ptb">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-md-2 col-md-8 col-sm-12">
                            <div class="testimonial-slider">
                                {% for q in quotes %}
                                <div class="testimonial-inner text-center">
                                    <div class="test-cont">
                                        <img src="{% static 'assets/images/icon/quite.png' %}" alt="">
                                        <p> {{q.quotes}}</p>
                                    </div>
                                    <div class="test-author">
                                        <h5>{{q.author_name}}</h5>
                                    </div>
                                </div>
                                {% endfor %}
                           

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- testimonial-area end -->

        </div>
        <!-- main-content-wrap end -->

{% endblock %}
