{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="container-login100">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form" method="POST">
                {% csrf_token %}
				<span class="login100-form-title p-b-37">
					<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js">
     
                    </script>
                     {% for mm in messages %} 
                    <script>
                     
                      swal('{{ mm }}');
                     
                     
                    </script>
                     
                    {% endfor %}
                    <br>
					Sign Up
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter username">
					<input class="input100" type="text" name="username" placeholder="username" required>
					<span class="focus-input100"></span>
				</div>

                <div class="wrap-input100 validate-input m-b-20" data-validate="Enter fullname">
					<input class="input100" type="text" name="fullname" placeholder="Full Name" required>
					<span class="focus-input100"></span>
				</div>

                <div class="wrap-input100 validate-input m-b-20" data-validate="Enter Email">
					<input class="input100" type="email" name="email" placeholder="Email" required>
					<span class="focus-input100"></span>
				</div>

                <div class="wrap-input100 validate-input m-b-20" data-validate="Enter Address">
					<input class="input100" type="text" name="address" placeholder="Address" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					<input class="input100" type="password" name="pass" placeholder="Password" required>
					<span class="focus-input100"></span>
				</div>

                <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter confirm password">
					<input class="input100" type="password" name="cpass" placeholder="Confirm Password" required>
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						Signup
					</button>
				</div>

				
				<div class="text-center">
					<a href="{% url 'mainApp:customerlogin' %}" class="txt2 hov1">
						Already have account?
					</a>
				</div>
			</form>

			
		</div>
	</div>

    {% endblock %}